<div id="form-wrapper">
  <div id="welcome">
    <p id="welcome-0">Welcome to Blank</p>
    <p id="welcome-1">This is a prototype</p>
    <p id="welcome-2">Please login</p>
  </div>
  <!-- {{username.value}} -->
  <!-- <input type="text" name="r" size="45" [formControl]="username"> -->
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <input id="username" formControlName="username" type="text" name="r" size="45" placeholder="Username" required>
    <input id="password" formControlName="password" type="password" name="p" size="45" placeholder="Password (optional)"
    (mouseover)="showWarning()" (mouseout)="hideWarning()" (focus)="showWarning()" (blur)="hideWarning()">
    <div id="password-warning" hidden="true">
      <p>
        <br>
        Creating a password is optional but advised, 
        as certain features such as having your name on the leaderboard and 
        picking up where you left off are only accessible to password-protected users.
        <br><br>
        However, if you choose to create a password, 
        it is strongly suggested that you do not recycle any that you already use, 
        as the passwords stored here are not completely secured.
      </p>
    </div>
    <!-- <input id="hidden-token" type="hidden" name="t"> -->
    <input id="submit-btn" type="submit" [disabled]="!loginForm.valid">
  </form>
</div>