#leaderboard {
    width: 100%;
    height: 200px;
    background: white;
    margin: auto;
    padding: 10px;
}

#leaders-wrapper {
    width: 50%;
    height: 200px;
    background: white;
    float: left;
}

#newest-wrapper {
    margin-left: 50%;
    height: 200px;
    background: white;
}