<div id="leaderboard-wrapper">
  <div id="leaders-wrapper">
    <div id="leaders">
      <h1>Leaderboard</h1>
      <div *ngFor="let rank of leaderboard.leaders">
        <h2>{{rank.key}}</h2>
        <div *ngFor="let entry of rank.ordered">{{entry.username}} at {{mapToLocalTime(entry.at)}}</div>
      </div>
    </div>
  </div>

  <div id="newest-wrapper">
    <div id="newest">
      <h1>Newest</h1>
      <div *ngFor="let entry of leaderboard.newest">{{entry.username}} at {{mapToLocalTime(entry.at)}}</div>
    </div>
  </div>
</div>